/*
 * Copyright (c) 2019 Scanimetrics Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 *
 *  See this guide for device tree info
 *  https://docs.zephyrproject.org/latest/guides/dts/index.html
 *
 *  The device tree specification is here:
 *  https://www.devicetree.org/specifications/
 *
 */

/dts-v1/;
#include <atmel/samd21.dtsi>

/ {
	model = "Scanimetrics WiTAP ISB";
	compatible = "scanimetrics,witap_isb", "atmel,samd21g18a", "atmel,samd21";

	chosen {
		zephyr,console = &sercom2;
		zephyr,shell-uart = &sercom2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
        zephyr,code-partition = &code_partition;
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&porta 20 0>;
			label = "Red";
		};
		led1: led_1 {
			gpios = <&porta 19 0>;
			label = "Green";
		};
		led2: led_2 {
			gpios = <&porta 21 0>;
			label = "Blue";
		};
	};

};

&cpu0 {
	clock-frequency = <48000000>;
};

&sercom0 {
	status = "disabled";
	compatible = "atmel,sam0-i2c";
	#address-cells = <1>;
	#size-cells = <0>;
    //  see ZEPHYR_INCLUDE_DT_BINDINGS_I2C_I2C_H_ for frequency defines
    clock-frequency = <I2C_BITRATE_STANDARD>;
};

&sercom2 {
	status = "okay";
	compatible = "atmel,sam0-uart";
	current-speed = <115200>;
	rxpo = <1>;
	txpo = <0>;
};

&sercom3 {
	status = "okay";
	compatible = "atmel,sam0-i2c";
    //  see zephyr/include/dt-bindings/i2c/i2c.h for device tree frequency defines
    clock-frequency = <I2C_BITRATE_STANDARD>;
	#address-cells = <1>;
	#size-cells = <0>;
    dma = <0>;

	ths0: sht3xd@44 {
		compatible = "sensirion,sht3xd";
		label = "SHT3XD";
		reg = <0x44>;
		// alert-gpios = <&gpiof 6 GPIO_INT_ACTIVE_HIGH>;
	};

    als0: opt3001@45 {
		compatible = "ti,opt3001";
		label = "OPT3001";
		reg = <0x45>;
    };

    bps0: bme280@76 {
        compatible = "bosch,bme280";
        label = "BME280";
        reg = <0x76>;
    };

	imu0: icm20649@68 {
		compatible = "invensense,icm20649";
        label = "ICM20649";
		reg = <0x68>;
        irq-gpios = <&porta 15 0>;
    };
};

&sercom5 {
	status = "disabled";
	compatible = "atmel,sam0-i2c";
    //  see ZEPHYR_INCLUDE_DT_BINDINGS_I2C_I2C_H_ for frequency defines
    clock-frequency = <I2C_BITRATE_FAST>;
    // label = "I2C_1";
	#address-cells = <1>;
	#size-cells = <0>;
};

/*
 *  See this link for additional info on flash partitions
 *  https://github.com/zephyrproject-rtos/zephyr/blob/master/doc/guides/dts/flash_partitions.inc
 *
 *  Note, for some reason, code is not place automatically in the code partition
 *  To do so, you need to ensure that the base address is set in your project config
 *  For example:
 *    CONFIG_FLASH_BASE_ADDRESS=0x2000
 *
 */

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "sam-ba";
			reg = <0x00000000 0x2000>;
			read-only;
		};

		code_partition: partition@2000 {
			label = "code";
			reg = <0x2000 0x3c000>;
			read-only;
		};

		/*
		 * The final 16 KiB is reserved for the application
		 * and is used by NFFS if enabled.
		 */
		storage_partition: partition@3e000 {
			label = "storage";
			reg = <0x0003e000 0x00002000>;
		};
	};
};

&usb0 {
	status = "okay";
};

&rtc {
    status = "okay";
    /*  use GCLK1 (xosc32k) as the source for the rtc  */
	clock-generator = <1>;
};

&adc {
    status = "okay";
};
