# Sensor configuration options

# Copyright (c) 2016 Intel Corporation
# SPDX-License-Identifier: Apache-2.0


menu "OOT Timer Drivers"

config OOT_SAM0_RTC_TIMER
	bool "Out Of Tree Atmel SAM0 series RTC timer"
	depends on SOC_FAMILY_SAM0
	select TICKLESS_CAPABLE
	help
	  This module implements a kernel device driver for the Atmel SAM0
	  series Real Time Counter and provides the standard "system clock
	  driver" interfaces.

endmenu

if OOT_SAM0_RTC_TIMER

endif #OOT_SAM0_RTC_TIMER


endif #SAM0_RTC_TIMER_OOT