# Scanimetrics WiTAP ISB configuration

# Copyright (c) 2017 Google LLC.
# SPDX-License-Identifier: Apache-2.0

config BOARD_SCANIMETRICS_WITAP_ISB_V2
	bool "Scanimetrics WiTAP ISB V2"
	depends on SOC_PART_NUMBER_SAMD51J20A
