/*
 * Copyright (c) 2020 Scanimetrics Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 *
 *  See this guide for device tree info
 *  https://docs.zephyrproject.org/latest/guides/dts/index.html
 *
 *  The device tree specification is here:
 *  https://www.devicetree.org/specifications/
 *
 */

/dts-v1/;
#include <atmel/samd21.dtsi>
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Arduino MKR 1310";
	compatible = "arduino,mkr_1310", "atmel,samd21g18a", "atmel,samd21";

	chosen {
		zephyr,console = &sercom5;
		zephyr,shell-uart = &sercom5;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &code_partition;
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;

		/* These aliases are provided for MKR pin mapping */
		mkr-pin-dac0 = &mkr_pin_a0;
		mkr-pin-mosi = &mkr_pin_d8;
		mkr-pin-sck = &mkr_pin_d9;
		mkr-pin-miso = &mkr_pin_d10;
		mkr-pin-sda = &mkr_pin_d11;
		mkr-pin-scl = &mkr_pin_d12;
		mkr-pin-rx = &mkr_pin_d13;
		mkr-pin-tx = &mkr_pin_d14;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&porta 20 GPIO_ACTIVE_HIGH>;
			label = "Yellow";
		};
	};

	mkr_pins {
		compatible = "gpio";
		mkr_pin_aref: pa3 {
			gpios = <&porta 3 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_aref";
		};
		mkr_pin_a0: pa2 {
			gpios = <&porta 2 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_a0";
		};
		mkr_pin_a1: pb2 {
			gpios = <&portb 2 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_a1";
		};
		mkr_pin_a2: pb3 {
			gpios = <&portb 3 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_a2";
		};
		mkr_pin_a3: pa4 {
			gpios = <&porta 4 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_a3";
		};
		mkr_pin_a4: pa5 {
			gpios = <&porta 5 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_a4";
		};
		mkr_pin_a5: pa6 {
			gpios = <&porta 6 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_a5";
		};
		mkr_pin_a6: pa7 {
			gpios = <&porta 7 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_a6";
		};
		mkr_pin_d0: pa22 {
			gpios = <&porta 22 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_d0";
		};
		mkr_pin_d1: pa23 {
			gpios = <&porta 23 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_d1";
		};
		mkr_pin_d2: pa10 {
			gpios = <&porta 10 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_d2";
		};
		mkr_pin_d3: pa11 {
			gpios = <&porta 11 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_d3";
		};
		mkr_pin_d4: pb10 {
			gpios = <&portb 10 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_d4";
		};
		mkr_pin_d5: pb11 {
			gpios = <&portb 11 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_d5";
		};
		mkr_pin_d6: pa20 {
			gpios = <&porta 20 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_d6";
		};
		mkr_pin_d7: pa21 {
			gpios = <&porta 21 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_d7";
		};
		mkr_pin_d8: pa16 {
			gpios = <&porta 16 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_d8";
		};
		mkr_pin_d9: pa17 {
			gpios = <&porta 17 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_d9";
		};
		mkr_pin_d10: pa19 {
			gpios = <&porta 19 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_d10";
		};
		mkr_pin_d11: pa8 {
			gpios = <&porta 8 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_d11";
		};
		mkr_pin_d12: pa9 {
			gpios = <&porta 9 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_d12";
		};
		mkr_pin_d13: pb23 {
			gpios = <&portb 23 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_d13";
		};
		mkr_pin_d14: pb22 {
			gpios = <&portb 22 (GPIO_ACTIVE_HIGH)>;
			label = "mkr_pin_d14";
		};
	};
};

&cpu0 {
	clock-frequency = <48000000>;
};

//  SERCOM0 is "Wire"
&sercom0 {
	status = "okay";
	compatible = "atmel,sam0-i2c";
	//  see zephyr/include/dt-bindings/i2c/i2c.h for device tree frequency defines
	clock-frequency = <I2C_BITRATE_STANDARD>;
	#address-cells = <1>;
	#size-cells = <0>;
	dmas = <&dmac 0 0x02>, <&dmac 0 0x01>;
	dma-names = "tx", "rx";
	// interrupts = <9 0>;

	/* enable this when there is an ecc508 driver */
	// ecc0: ecc508@c0 {
	// 	compatible = "microchip,ecc508";
	// 	label = "ECC508";
	// 	reg = <0xc0>;
	// };
};

//  SERCOM1 is "SPI"
&sercom1 {
	status = "okay";
	compatible = "atmel,sam0-spi";
	#address-cells = <1>;
	#size-cells = <0>;
	dopo = <0>;
	dipo = <3>;
	// rxdma = 0;
	// txdma = 0;
	// interrupts = <10 0>;
};

//  SERCOM2 is "SPI1"
&sercom2 {
	status = "okay";
	compatible = "atmel,sam0-spi";
	#address-cells = <1>;
	#size-cells = <0>;
	dopo = <0>;
	dipo = <3>;
	cs-gpios = <&portb 8 GPIO_ACTIVE_LOW>, <&porta 14 GPIO_ACTIVE_LOW>;
	// interrupts = <11 0>;

	w25q16: w25q16@0 {
		compatible = "jedec,spi-nor";
		label = "W25Q16";
		jedec-id = [ef 40 15];
		size = <0x200000>;
		spi-max-frequency = <48000000>;
		reg = <0>;
		has-be32k;
		has-dpd;
		t-enter-dpd = <3000>;
		t-exit-dpd = <3000>;
	};
};

//  SERCOM4 is "SerialLoRa" / "Serial2"
//  Note: SERCOM4 and SERCOM2 conflict since they are configured
//  to share pins PA12 and PA15
&sercom4 {
	status = "okay";
	compatible = "atmel,sam0-uart";
	current-speed = <19200>;
	rxpo = <3>;
	txpo = <0>;
	// interrupts = <13 0>;
};

//  SERCOM5 is "Serial1"
&sercom5 {
	status = "okay";
	compatible = "atmel,sam0-uart";
	#address-cells = <1>;
	#size-cells = <0>;
	current-speed = <115200>;
	rxpo = <3>;
	txpo = <2>;
	// interrupts = <14 0>;
};

/*
 *  See this link for additional info on flash partitions
 *  https://github.com/zephyrproject-rtos/zephyr/blob/master/doc/guides/dts/flash_partitions.inc
 *
 *  Note, for some reason, code is not place automatically in the code partition
 *  To do so, you need to ensure that the base address is set in your project config
 *  For example:
 *    CONFIG_FLASH_BASE_ADDRESS=0x2000
 *
 */

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "sam-ba";
			reg = <0x00000000 0x2000>;
			read-only;
		};

		code_partition: partition@2000 {
			label = "code";
			reg = <0x2000 0x3a000>;
			read-only;
		};

		/*
		 * The final 16 KiB is reserved for the application
		 * and is used by file system if enabled.
		 */
		storage_partition: partition@3c000 {
			label = "storage";
			reg = <0x0003c000 0x00004000>;
		};
	};
};

&usb0 {
	status = "okay";
};
