# out of tree drivers configuration options

# Copyright (c) 2015 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menu "Device Drivers"

rsource "flash/Kconfig"
rsource "modem/Kconfig"
rsource "sensor/Kconfig"
rsource "adc/Kconfig"
rsource "timer/Kconfig"
rsource "i2c/Kconfig"
rsource "serial/Kconfig"

endmenu